<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>hello-currency</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body class="content">

    <section>
        <b>currency list:</b>
        <ul class="list-group" th:each="cu:${currencyList}">
            <li class="list-group-item">[[${cu.getName()}]]: [[${cu.getRate()}]]</li>
        </ul>
    </section>

    <!--<form th:action="@{/calc}" th:object="${calcForm}" method="post">-->
        <!--<input type="number" placeholder="currency 1" th:field="*{num1}">-->
        <!--<select th:field="*{currency1}">-->
        <!--<option th:each="cu:${currencyList}" th:value="${cu.getName()}" th:text="${cu.getName()}"> </option>-->
        <!--</select>-->

        <!--<span >res: [[${res}]]</span>-->
        <!--<select th:field="*{currency2}">-->
        <!--<option th:each="cu:${currencyList}" th:value="${cu.getName()}" th:text="${cu.getName()}"> </option>-->
        <!--</select>-->
        <!--<input class="btn btn-secondary" type="submit" value="submit">-->
    <!--</form>-->
    <b>calculate currency</b>
    <form th:action="@{/calc}" th:object="${calcForm}" method="post">
        <input step="any"  type="number" placeholder="currency 1" th:field="*{num1}">
        <span class="error" th:if="${#fields.hasErrors('num1')}"
              th:errors="*{num1}">num1 Error</span>
        <select th:field="*{currency1}">
            <option th:each="cu:${currencyList}" th:value="${cu.getName()}" th:text="${cu.getName()}"> </option>
        </select>

        <span >res: [[${res}]]</span>
        <select th:field="*{currency2}">
            <option th:each="cu:${currencyList}" th:value="${cu.getName()}" th:text="${cu.getName()}"> </option>
        </select>
        <input  class="btn btn-secondary" type="submit" value="submit">
    </form>


    <b>add currency:</b>
    <form th:action="@{/addCurrency}" th:object="${addCurrencyForm}" method="post">
        <label for="crate">currency rate</label> <input step="any" id="crate" type="number" placeholder="currency rate" th:field="*{rate}">
        <span class="error" th:if="${#fields.hasErrors('rate')}"
              th:errors="*{rate}">rate Error</span><br>
        <label for="cname">currency name</label> <input id="cname" type="text" placeholder="currency name" th:field="*{name}">
        <span class="error" th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">name Error</span>
        <input class="btn btn-secondary" type="submit" value="submit">
    </form>
    <!--<input type="number" placeholder="currency 2" >-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>

