<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hello-currency</title>
</head>
<body>

    <section>
        <div>currency list:</div>
        <ul th:each="cu:${currencyList}">
            <li>[[${cu.getName()}]]: [[${cu.getRate()}]]</li>
        </ul>
    </section>

    <form th:action="@{/calc}" th:object="${calcForm}" method="post">
        <input type="number" placeholder="currency 1" th:field="*{num1}">
        <select th:field="*{currency1}">
        <option th:each="cu:${currencyList}" th:value="${cu.getName()}" th:text="${cu.getName()}"> </option>
        </select>

        <span >res: [[${res}]]</span>
        <select th:field="*{currency2}">
        <option th:each="cu:${currencyList}" th:value="${cu.getName()}" th:text="${cu.getName()}"> </option>
        </select>
        <input type="submit" value="submit">
    </form>
    <!--<input type="number" placeholder="currency 2" >-->

</body>
</html>

